.contato {
  display: flex;
  flex-direction: row;
  min-height: 4.5rem;
  border-bottom: 1.5px solid lightgray;
  align-items: center;
  padding: 0 1rem 0 1rem;
  background-color: inherit;
}

.contato:hover {
  filter: brightness(95%);
  cursor: pointer;
}

.contato-conteudo {
  text-align: start;
  width: 100%;
}

.ultima-mensagem {
  overflow: hidden;
  max-width: 15rem;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.ultima-mensagem-enviada-em {
  width: 5rem;
  text-align: end;
  font-size: 0.75rem;
}
