.loader-container {
  margin-bottom: 15rem;
}

.loader {
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  border: 0.25rem solid;
  border-color: #eb7fe0 #eb7fe0 transparent transparent;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}
.loader::after,
.loader::before {
  content: "";
  box-sizing: border-box;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  border: 0.25rem solid;
  border-color: transparent transparent #8b5fba #8b5fba;
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  box-sizing: border-box;
  animation: rotationBack 0.5s linear infinite;
  transform-origin: center center;
}
.loader::before {
  width: 4rem;
  height: 4rem;
  border-color: #eb7fe0 #eb7fe0 transparent transparent;
  animation: rotation 1.5s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes rotationBack {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}
